--- C:/Users/Wenderalcantara/Google Drive/PROJETOS DESENV/ISBF/SuperGestor/Styles/Site2.css	dom nov  2 19:27:57 2014
+++ C:/Users/Wenderalcantara/Google Drive/PROJETOS DESENV/SNIIC/Styles/Site2.css	dom out 26 21:23:13 2014
@@ -1,5 +1,5 @@
 ﻿/* DEFAULTS
-----------------------------------------------------------
+----------------------------------------------------------*/
 
 a:link, a:visited
 {
@@ -18,7 +18,7 @@ a:active
 {
     color: #034af3;
 behavior:url('~/Scripts/PIE.htc');}
-*/
+
 p
 {
     margin-bottom: 10px;
@@ -129,9 +129,9 @@ body
     /*min-height: 500px;
     min-height: 90%;*/
     position:relative;
-    padding:14px 10px  2px 10px ;
+    padding:14px 10px  10px 10px ;
     margin: 20px 0px 0px 0px;
-    bottom:2px;
+    bottom:20px;
     background-color:rgb(255, 255, 255);
     
     /*-webkit-box-shadow:rgb(105, 99, 81) -4px 4px 0px 0px;
@@ -166,12 +166,12 @@ body
     */
 }
 
-
-.Tab .ajax__tab_xp
+/*
+.Tab 
 {
     
 }
-
+*/
 .Tab .ajax__tab_header 
 {
     font-family:arial,helvetica,clean,sans-serif;
@@ -234,29 +234,44 @@ body
     border-width:0px;
     color: #fff;
     /*outline:none;*/
+    outline-color: :rgba(217, 217, 217, 0);
     outline-style:none;
+    background-image:-webkit-linear-gradient(90deg,rgb(85,163,119) 0%,rgb(133,255,186) 100%);
+    background-image:-moz-linear-gradient(90deg,rgb(85,163,119) 0%,rgb(133,255,186) 100%);
+    background-image:-o-linear-gradient(90deg,rgb(85,163,119) 0%,rgb(133,255,186) 100%);
+    background-image:-ms-linear-gradient(90deg,rgb(85,163,119) 0%,rgb(133,255,186) 100%);
+	-pie-background: linear-gradient(90deg,rgb(85,163,119) 0%,rgb(133,255,186) 100%);
     behavior: url('~/Scripts/PIE.htc');
-    background-image: -ms-linear-gradient(90deg,rgb(85,163,119) 0%,rgb(133,255,186) 100%);
+    
 }
 .Tab .ajax__tab_active .ajax__tab_outer
 {
     /*background:url(img/yui/sprite.png) #2647a0 repeat-x left -1400px;background-color: rgb(255, 255, 255);*/
-    border-left: 2px none rgb(85,163,119);
-    border-right: 2px none rgb(85,163,119);
-    border-top: 2px none rgb(85,163,119);
-    border-bottom: 2px solid rgb(85,163,119);
+    border-style: none none solid none;
+    border-width: 2px;
+    border-color:rgb(85,163,119);
+    background-image:-webkit-linear-gradient(90deg,rgb(85,163,119) 0%,rgb(133,255,186) 100%);
+    background-image:-moz-linear-gradient(90deg,rgb(85,163,119) 0%,rgb(133,255,186) 100%);
+    background-image:-o-linear-gradient(90deg,rgb(85,163,119) 0%,rgb(133,255,186) 100%);
+    background-image:-ms-linear-gradient(90deg,rgb(85,163,119) 0%,rgb(133,255,186) 100%);
+	-pie-background: linear-gradient(90deg,rgb(85,163,119) 0%,rgb(133,255,186) 100%);
     behavior: url('~/Scripts/PIE.htc');
-    background-image: -ms-linear-gradient(90deg,rgb(85,163,119) 0%,rgb(133,255,186) 100%);
 }
 .Tab .ajax__tab_body 
 {
-    border: 0px none rgb(85,163,119);
     font-family:verdana,tahoma,helvetica;
     font-size:10pt;
     padding:0.25em 0.5em;
     /*background-color:#edf5ff;    */
-    behavior: url('~/Scripts/PIE.htc');
-    background-image: -ms-linear-gradient(90deg,rgb(85,163,119) 0%,rgb(133,255,186) 3%,rgb(85,163,119) 100%);
+    border-style:none;
+    border-color:rgb(85,163,119);
+    border-width:0px;
+    background-image:-webkit-linear-gradient(90deg,rgb(85,163,119) 0%,rgb(133,255,186) 3%,rgb(85,163,119) 100%);
+    background-image:-moz-linear-gradient(90deg,rgb(85,163,119) 0%,rgb(133,255,186) 3%,rgb(85,163,119) 100%);
+    background-image:-o-linear-gradient(90deg,rgb(85,163,119) 0%,rgb(133,255,186) 3%,rgb(85,163,119) 100%);
+    background-image:-ms-linear-gradient(90deg,rgb(85,163,119) 0%,rgb(133,255,186) 3%,rgb(85,163,119) 100%);
+	-pie-background: linear-gradient(90deg,rgb(85,163,119) 0%,rgb(133,255,186) 3%,rgb(85,163,119) 100%);
+	behavior:url('~/Scripts/PIE.htc');
 }
 
 
@@ -354,18 +369,12 @@ behavior:url('~/Scripts/PIE.htc');}
 
 .footer
 {
-    /*background-image: url('../imagens/rodape.png');*/    
-    position: relative;    
-    display: block;    
-    bottom: 0;
-    width: 100%;
-    height:auto;      
-    text-align: center;    
-    line-height: 100%;
-    behavior: url('~/Scripts/PIE.htc');
-    z-index:-100;
-    
-}
+    color: #4e5766;
+    padding: 8px 0px 0px 0px;
+    margin: 0px auto;
+    text-align: center;
+    line-height: normal;
+behavior:url('~/Scripts/PIE.htc');}
 
 
 /* TAB MENU   
@@ -618,32 +627,4 @@ behavior:url('~/Scripts/PIE.htc');}
 {
     text-align: center;
     padding-right: 10px;
-behavior:url('~/Scripts/PIE.htc');}
-
-.bnt_home
-{
-    height:100px;
-    width:170px;
-    color:rgb(255, 255, 255);
-    font-size:30px;
-    font-family:Georgia,serif;
-    font-weight:bold;
-    border-style:none;
-    -webkit-box-shadow:rgb(74, 74, 74) -5px 0px 10px 0px;
-    -moz-box-shadow:rgb(74, 74, 74) -5px 0px 10px 0px;
-    box-shadow:rgb(74, 74, 74) -5px 0px 10px 0px;
-    margin:0px 0px 0px 20px;
-    background-color:rgba(245, 133, 34, 0.721569);
-    -webkit-border-radius:10px;
-    -moz-border-radius:10px;
-    border-radius:10px;
-}
-
-.Link_button
-{
-    font-family:Georgia,serif;
-    color: #A7A9AC;
-    font-weight:bold;
-    font-size:20px;  
-    text-decoration:none; 
-}
\ No newline at end of file
+behavior:url('~/Scripts/PIE.htc');}
\ No newline at end of file
