/* DEFAULTS
----------------------------------------------------------

a:link, a:visited
{
	color: #034af3;
	behavior: url(PIE.htc);
	
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
behavior:url('~/Scripts/PIE.htc');}

a:active
{
    color: #034af3;
behavior:url('~/Scripts/PIE.htc');}
*/
p
{
    margin-bottom: 10px;
    line-height: 1.6em;
behavior:url('~/Scripts/PIE.htc');}


/* HEADINGS   
----------------------------------------------------------*/



h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    /*color: #666666;*/
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
   
behavior:url('~/Scripts/PIE.htc');}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;    
    color:rgb(255, 255, 255);       
    
behavior:url('~/Scripts/PIE.htc');}

h2
{
    font-size: 1.5em;
    font-weight: 600;
behavior:url('~/Scripts/PIE.htc');}

h3
{
    font-size: 1.2em;
behavior:url('~/Scripts/PIE.htc');}

h4
{
    font-size: 1.1em;
behavior:url('~/Scripts/PIE.htc');}

h5, h6
{
    font-size: 1em;
behavior:url('~/Scripts/PIE.htc');}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
behavior:url('~/Scripts/PIE.htc');}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
body   
{
	
    /*background: #b6b7bc;*/
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;   
    height:100%;
    
    behavior:url('~/Scripts/PIE.htc');}

.page
{
     /*display:table-cell;*/   
    behavior:url('~/Scripts/PIE.htc');   
    width: 100%;
    height:auto;
    min-height: 100%;
    position:absolute;
    overflow: auto;       
    /*background-color: #fff;    
    margin: 20px auto 2px 20px;
    padding: 12px 12px 12px 12px;
    background-image:-ms-linear-gradient(top,rgb(255,255,255) 59%,rgba(190,199,107,0.47000000000000003) 98%);
    */
       
    z-index:-1;
        
    -webkit-box-shadow:rgba(32, 51, 42, 0.726563) 13px 11px 11px -1px;
    -moz-box-shadow:rgba(32, 51, 42, 0.726563) 13px 11px 11px -1px;
    box-shadow:rgba(32, 51, 42, 0.726563) 13px 11px 11px -1px;
   
    
    
    }

.main
{    
    /*position:relative;*/
    display:block;
    /*width:95%;*/
    vertical-align:middle;
    height:auto;    
    /*min-height: 500px;
    min-height: 90%;*/
    position:relative;
    padding:14px 10px  2px 10px ;
    margin: 20px 0px 0px 0px;
    bottom:2px;
    background-color:rgb(255, 255, 255);
    
    /*-webkit-box-shadow:rgb(105, 99, 81) -4px 4px 0px 0px;
    -moz-box-shadow:rgb(105, 99, 81) -4px 4px 0px 0px;
    box-shadow:rgb(105, 99, 81) -4px 4px 0px 0px;*/
    
    behavior:url('~/Scripts/PIE.htc');}

.pnlHeader
{	
	position: relative;
	display:block;
	height:154px;
	min-height:150px;
	z-index:1;
    behavior:url('~/Scripts/PIE.htc');}

.header
{
    /*
    background-image:-webkit-linear-gradient(-90deg,rgb(95,127,130) 0%,#fff 100%);
    background-image:-moz-linear-gradient(-90deg,rgb(95,127,130) 0%,#fff 100%);
    background-image:-o-linear-gradient(-90deg,rgb(95,127,130) 0%,#fff 100%);
    background-image:-ms-linear-gradient(-90deg,rgb(95,127,130) 0%,#fff 100%);
    -pie-background: linear-gradient(-90deg,rgb(95,127,130) 0%,#fff 100%);
*/
    display: block;       
    behavior: url('~/Scripts/PIE.htc');
    /*
    background-image: url('../imagens/header_sniic.png');    
    background-attachment: fixed;
    */
}

/*
.Tab 
{
    
}
*/
.Tab .ajax__tab_header 
{
    font-family:arial,helvetica,clean,sans-serif;
    font-size:small;
    /*border-bottom:solid 5px #2647a0;*/
    border-bottom-color:rgb(1, 1, 3);
    
}

.Tab .ajax__tab_outer 
{
    border-style:none;
    border-bottom-width:0px;
    
}
.Tab .ajax__tab_inner 
{  
    
}  

.Tab .ajax__tab_header .ajax__tab_outer 
{
    /*background:url(img/yui/sprite.png) #d8d8d8 repeat-x;*/
    background-color:rgba(217, 217, 217, 0);
    
    margin:0px 0.16em 0px 0px;
    padding:1px 0px 1px 0px;
    vertical-align:bottom;
    /*border:solid 1px #a3a3a3;*/
    border-style:none;
    border-bottom-width:0px;
    -pie-background: rgba(217, 217, 217, 0);
	behavior:url('~/Scripts/PIE.htc');
}
.Tab .ajax__tab_header .ajax__tab_tab
{    
    border-style:none;
    color:#000;
    padding:0.35em 0.75em;    
    margin-right:0.01em;
    
}
.Tab .ajax__tab_hover .ajax__tab_outer 
{
    /*background: url(img/yui/sprite.png) #bfdaff repeat-x left -1300px;
    background-color:rgba(132, 240, 132, 0.368627);*/
    
    -webkit-box-shadow:rgba(79, 79, 79, 0.8) 0px 0px 5px 2px;
    -moz-box-shadow:rgba(79, 79, 79, 0.8) 0px 0px 5px 2px;
    box-shadow:rgba(79, 79, 79, 0.8) 0px 0px 5px 2px;
    -webkit-border-radius:5px,5px,0px 0px,0px 0px;
    -moz-border-radius:5px,5px,0px 0px,0px 0px;
    border-radius:5px,5px,0px 0px,0px 0px;
	behavior:url('~/Scripts/PIE.htc');

}
.Tab .ajax__tab_active .ajax__tab_tab
{
    border-style: none;
    border-width:0px;
    color: #fff;
    /*outline:none;*/
    outline-color: :rgba(217, 217, 217, 0);
    outline-style:none;
    background-image:-webkit-linear-gradient(90deg,rgb(85,163,119) 0%,rgb(133,255,186) 100%);
    background-image:-moz-linear-gradient(90deg,rgb(85,163,119) 0%,rgb(133,255,186) 100%);
    background-image:-o-linear-gradient(90deg,rgb(85,163,119) 0%,rgb(133,255,186) 100%);
    background-image:-ms-linear-gradient(90deg,rgb(85,163,119) 0%,rgb(133,255,186) 100%);
	-pie-background: linear-gradient(90deg,rgb(85,163,119) 0%,rgb(133,255,186) 100%);
    behavior: url('~/Scripts/PIE.htc');
    
}
.Tab .ajax__tab_active .ajax__tab_outer
{
    /*background:url(img/yui/sprite.png) #2647a0 repeat-x left -1400px;background-color: rgb(255, 255, 255);*/
    border-style: none none solid none;
    border-width: 2px;
    border-color:rgb(85,163,119);
    background-image:-webkit-linear-gradient(90deg,rgb(85,163,119) 0%,rgb(133,255,186) 100%);
    background-image:-moz-linear-gradient(90deg,rgb(85,163,119) 0%,rgb(133,255,186) 100%);
    background-image:-o-linear-gradient(90deg,rgb(85,163,119) 0%,rgb(133,255,186) 100%);
    background-image:-ms-linear-gradient(90deg,rgb(85,163,119) 0%,rgb(133,255,186) 100%);
	-pie-background: linear-gradient(90deg,rgb(85,163,119) 0%,rgb(133,255,186) 100%);
    behavior: url('~/Scripts/PIE.htc');
}
.Tab .ajax__tab_body 
{
    
    font-family:verdana,tahoma,helvetica;
    font-size:10pt;
    padding:0.25em 0.5em;
    /*background-color:#edf5ff;    */
    border-style:none;
    border-color:rgb(85,163,119);
    border-width:0px;
    background-image:-webkit-linear-gradient(90deg,rgb(85,163,119) 0%,rgb(133,255,186) 3%,rgb(85,163,119) 100%);
    background-image:-moz-linear-gradient(90deg,rgb(85,163,119) 0%,rgb(133,255,186) 3%,rgb(85,163,119) 100%);
    background-image:-o-linear-gradient(90deg,rgb(85,163,119) 0%,rgb(133,255,186) 3%,rgb(85,163,119) 100%);
    background-image:-ms-linear-gradient(90deg,rgb(85,163,119) 0%,rgb(133,255,186) 3%,rgb(85,163,119) 100%);
	-pie-background: linear-gradient(90deg,rgb(85,163,119) 0%,rgb(133,255,186) 3%,rgb(85,163,119) 100%);
	behavior:url('~/Scripts/PIE.htc');
	
}


/*#######################################################################################*/
.ajax__myTab .ajax__tab_header {  
    font-family: verdana,tahoma,helvetica;  
    font-size: 11px;  
    border-bottom: solid 1px #999999; 
	behavior:url('~/Scripts/PIE.htc');
}  
  
.ajax__myTab .ajax__tab_outer {  
    padding-right: 4px;  
    height: 21px;  
    background-color: #C0C0C0;  
    margin-right: 2px;  
    border-right: solid 1px #666666;  
    border-top: solid 1px #aaaaaa; 
	behavior:url('~/Scripts/PIE.htc');
}  
  
.ajax__myTab .ajax__tab_inner {  
    padding-left: 3px;  
    background-color: #C0C0C0;
	behavior:url('~/Scripts/PIE.htc');
}  
  
.ajax__myTab .ajax__tab_tab {  
    height: 13px;  
    padding: 4px;  
    margin: 0; 
	behavior:url('~/Scripts/PIE.htc');
}  
  
.ajax__myTab .ajax__tab_hover .ajax__tab_outer {  
    background-color: #cccccc; 
	behavior:url('~/Scripts/PIE.htc');
}  
  
.ajax__myTab .ajax__tab_hover .ajax__tab_inner {  
    background-color: #cccccc;
	behavior:url('~/Scripts/PIE.htc');
}  
  
.ajax__myTab .ajax__tab_hover .ajax__tab_tab {  
}  
  
.ajax__myTab .ajax__tab_active .ajax__tab_outer {  
    background-color: #fff;  
    border-left: solid 1px #999999;  
	behavior:url('~/Scripts/PIE.htc');
}  
  
.ajax__myTab .ajax__tab_active .ajax__tab_inner {  
    background-color: #fff;
	behavior:url('~/Scripts/PIE.htc');
}  
  
.ajax__myTab .ajax__tab_active .ajax__tab_tab {  
}  
  
.ajax__myTab .ajax__tab_body {  
    font-family: verdana,tahoma,helvetica;  
    font-size: 10pt;  
    border: 1px solid #999999;  
    border-top: 0;  
    padding: 8px;  
    background-color: #ffffff; 
	behavior:url('~/Scripts/PIE.htc');
}  

.header h1
{
    border-style: none;
    border-color: inherit;
    border-width: medium;
    font-weight: 700;
    margin: 0px 0px 0px 10px;
    padding: 0px 0px 0px 10px;
    /*color: #f9f9f9;*/
    line-height: 2em;
    font-size: 2em;
    
behavior:url('~/Scripts/PIE.htc');}



.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
behavior:url('~/Scripts/PIE.htc');}

.footer
{
    /*background-image: url('../imagens/rodape.png');*/    
    position: relative;    
    display: block;    
    bottom: 0;
    width: 100%;
    height:auto;      
    text-align: center;    
    line-height: 100%;
    behavior: url('~/Scripts/PIE.htc');
    z-index:-100;
    
}


/* TAB MENU   
----------------------------------------------------------*/
.mHide ul li a, div.menu ul li a:visited
{
    color:rgba(84, 73, 9, 0);
    
}


div.hideSkiplink
{
    /*background-color:#3a4f63;*/
    width:98%;  
     
    behavior:url('~/Scripts/PIE.htc');}

div.menu
{ 
    color: rgb(0, 0, 0);     
    padding: 4px 0px 4px 10px;              
    width:100%; 
         
    behavior:url('~/Scripts/PIE.htc');}

div.menu ul
{
        
    
    list-style-type:circle;
	position:relative;	
    
    margin: 0px;
    padding: 0px;
    width: auto;    
    z-index:10;
    
behavior:url('~/Scripts/PIE.htc');}


div.menu ul li a, div.menu ul li a:visited
{		
    /*background-color:rgba(255,196,59,1);*/
    
    display:inline;
    
    line-height: 15px;
    padding: 4px 20px;
    margin:0px 3px 0px 3px;
    text-decoration: none;
    white-space: nowrap;
     
    text-align:center;    
    font-size:15px;
    font-weight:bold;    
    font-family:Verdana,sans-serif;
    behavior:url('~/Scripts/PIE.htc');
    
    background-color:rgba(255, 255, 255, 0);
    border-style:none;
    
    color:rgb(119, 122, 125);
}

.level2
{
	display:inline;
	display:-webkit-box;
    -webkit-box-orient:horizontal;
    
	text-align:left;	  
	background-color:rgb(138, 138, 138);	
	
behavior:url('~/Scripts/PIE.htc');}

.level1
{
	display:inline;
	display:-webkit-box;
    -webkit-box-orient:horizontal;	
behavior:url('~/Scripts/PIE.htc');}

.item_menu
{
    
    background-color: rgb(138, 138, 138);
    display: inline;
    behavior: url('~/Scripts/PIE.htc');
}

div.menu ul li a:hover
{
    /*background-color: #bfcbd6;
    background-color:rgb(138, 138, 138);*/
    
    color:rgb(242, 249, 255);
    text-decoration: none;
    display:inline;
    behavior:url('~/Scripts/PIE.htc');}

div.menu ul li a:active
{
    /*background-color: #465c71;*/
    color: rgb(235, 255, 214);
    text-decoration: none;
    behavior: url('~/Scripts/PIE.htc');
}




/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
behavior:url('~/Scripts/PIE.htc');}

fieldset p 
{
    margin: 2px 12px 10px 10px;
behavior:url('~/Scripts/PIE.htc');}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
    
behavior:url('~/Scripts/PIE.htc');}

fieldset label.inline 
{
    display: inline;
behavior:url('~/Scripts/PIE.htc');}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
behavior:url('~/Scripts/PIE.htc');}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
behavior:url('~/Scripts/PIE.htc');}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
behavior:url('~/Scripts/PIE.htc');}

div.accountInfo
{
    width: 42%;
behavior:url('~/Scripts/PIE.htc');}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
    
    /*-webkit-box-shadow:rgba(166, 237, 133, 0.878906) 17px -28px 26px -13px inset;
    -moz-box-shadow:rgba(166, 237, 133, 0.878906) 17px -28px 26px -13px inset;
    box-shadow:rgba(166, 237, 133, 0.878906) 17px -28px 26px -13px inset;
    -background-image:-webkit-gradient(linear,0% 0%,0% 100%,color-stop(0.34,rgba(167,209,175,0.726563)),color-stop(0.68,rgb(71,94,62)));
    background-image:-moz-linear-gradient(top,rgba(167,209,175,0.726563) 34%,rgb(71,94,62) 68%);
    background-image:-o-linear-gradient(top,rgba(167,209,175,0.726563) 34%,rgb(71,94,62) 68%);
    background-image:-ms-linear-gradient(top,rgba(167,209,175,0.726563) 34%,rgb(71,94,62) 68%);*/

behavior:url('~/Scripts/PIE.htc');}

.title
{    
    display: inline-block;            	      
    text-align: left;               
    width:auto;    
    height:auto;
    margin-bottom:10px;
    /*padding:30px 0px 0px 0px;*/
       
    /*font-size:20px;    */
    text-shadow:rgba(134, 135, 95, 0.964844) 3px 4px 3px;        
behavior:url('~/Scripts/PIE.htc');}



.logo
{
    display: block;
    float: left;    
    padding:25px 0px 0px 10px;
    text-align: left;
    vertical-align:middle;
    width: 15%;    
    height:auto;
    
behavior:url('~/Scripts/PIE.htc');}

.loginDisplay
{
    z-index:2;    
    display: block; 
    position:absolute;
    top:0;   
    height:20px;
    width:98%;    
    text-align: left;    
    font-size:15px;
    font-weight:bold;
    color:rgb(255, 247, 235);    
    behavior:url('~/Scripts/PIE.htc');
    
 }

.loginDisplay a:link
{
    color:rgba(117, 112, 104, 0.933594);
behavior:url('~/Scripts/PIE.htc');}

.loginDisplay a:visited
{
    color:rgba(117, 112, 104, 0.933594);
behavior:url('~/Scripts/PIE.htc');}

.loginDisplay a:hover
{
    color:rgba(117, 112, 104, 0.933594);
behavior:url('~/Scripts/PIE.htc');}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
behavior:url('~/Scripts/PIE.htc');}

.bold
{
    font-weight: bold;
behavior:url('~/Scripts/PIE.htc');}

.submitButton
{
    text-align: center;
    padding-right: 10px;
behavior:url('~/Scripts/PIE.htc');}

.bnt_home
{
    height:100px;
    width:170px;
    color:rgb(255, 255, 255);
    font-size:30px;
    font-family:Georgia,serif;
    font-weight:bold;
    white-space:pre-line; 
    vertical-align:top;   
    border-style:none;
    -webkit-box-shadow:rgb(74, 74, 74) -5px 0px 10px 0px;
    -moz-box-shadow:rgb(74, 74, 74) -5px 0px 10px 0px;
    box-shadow:rgb(74, 74, 74) -5px 0px 10px 0px;
    margin:0px 0px 0px 20px;
    background-color:rgba(245, 133, 34, 0.721569);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}

.Link_button
{
    font-family:Georgia,serif;
    color: #A7A9AC;
    font-weight:bold;
    font-size:20px;  
    text-decoration:none; 
}